.div1{
    background-color: cadetblue;
    border-radius: 10px;
}
.div2{
    background-color: rgb(95, 99, 160);
    border-radius: 10px;
}
.div3{
    background-color: rgb(160, 95, 160);
    border-radius: 10px;
}
.div4{
    background-color: rgb(160, 148, 95);
    border-radius: 10px;
}
.div5{
    background-color: rgb(160, 116, 95);
    border-radius: 10px;
}
h1{
    color: cornsilk;
    text-transform: capitalize;
    text-align: center;
}