.div1{
    background-color: cadetblue;
    border-radius: 10px;
}
.div2{
    background-color: rgb(95, 99, 160);
    border-radius: 10px;
}
h1{
    color: cornsilk;
    text-transform: capitalize;
    text-align: center;
}